body{
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
    background-color: #FAF9F6;
}
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #FAF9F6;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  transition: opacity 0.5s ease;
}
#preloader iframe{
  width: 150px; 
  height: auto;
}
.background_img{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSeZkYnMGDFEAvbE9ijKHMy-Vapg-HO4uzP7r2yhQo_HfclbGiXl2jayvs&s=10");
    background-size: cover;
    background-position: center center;
    
}
.discover{
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: rgb(4, 56, 4);
    font-size: 60px;

}
.welcomelbn{
    font-family: "Montserrat", sans-serif;
    text-align: center;
    color: white;
    padding-bottom: 20px;
    font-size: 20px;

}
.nav{
    border-bottom: 2px solid whitesmoke;
    background-color: rgb(164, 36, 11);
}
nav ul{
    margin: 0px;
    padding: 20px;
    text-align: center;
}
   
nav ul li{
    display: inline;
    margin: 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    margin: 20px;
    font-size: 14px;
}
nav ul li a:hover {
    color: rgb(4, 56, 4);
    transform: scale(1,5);
    text-decoration: underline;
    font-weight: bold;
}
.map{
    border-radius: 10px;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}
.box1{
    width: 600px;
    margin: 100px auto; /* centers the box horizontally */
    padding: 30px;
    text-align: center;
    background-color: antiquewhite;
    border-radius: 15px;
}
table{
    margin-left: auto;
    margin-right: auto;
    border: 5px solid rgb(4, 56, 4);
}
img{
    width: 500px;
    height: 300px;
    border-radius: 20px;
    border: 5px solid rgb(4, 56, 4);
}
h1, h2, h3{
    font-family: "Montserrat", sans-serif;

}
footer{
    text-align: center;
    font-family: "Montserrat", sans-serif;
}
.p1{
    border-bottom: 4px solid whitesmoke;
    padding: 10px;
}